.main{
   flex: 1;
   min-height: 100vh;
   padding-bottom: 15vh;
   position: relative;
   margin-left: 120px;
   margin-top: -44%;

}
.main .nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 22px;
   padding: 20px;
   color: #585858;
}
.main .nav p{
   background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-top: 10px;
}
.main .nav img{
   width: 40px;
   border-radius: 50%;
}

.main-container{
   max-width: 900px;
   margin: auto;
   

}
.main .greet{
margin: 10px 0px;
font-size: 50px;
color: #c4c7c5;
font-weight: 500;
padding: 20px;
margin-top: -70px;

}


.main .greet span{
   background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
   -webkit-background-clip:text;
   -webkit-text-fill-color: transparent;
   
}
.main .cards{
   display: grid;
   grid-template-columns:repeat(auto-fill,minmax(180px,1fr)) ;
   gap: 15px;
   padding: 10px;
   margin-top: -55px;
}
.main .card{
   height: 250px;
   padding: 20px;
   background-color: #f0f4f9;
   border-radius: 10px;
   position: relative;
  
   
margin-bottom: 20px;
}
.main .card img{
   width: 40px;
   padding: 5px;
   position: absolute;
   background-color: white;
   border-radius: 20px;
   bottom: 10px;
   right: 10px;

}
.main .card p{
   color: #585858;
   font-size: 17px;
}
.main .card:hover{
   background-color: #dfe4ea;
}
.main-bottom{
   position: absolute;
   bottom: 0;
   width: 100%;
   max-width: 900px;
   padding: 0px 20px;
   margin:auto ;
}
.inputContainer {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   background-color: #111213;
   padding: 10px 20px;
   border-radius: 50px;
   bottom: 0;
   width: 90%;
   margin-bottom: 6px; /* Réduisez la marge inférieure pour que la boîte de recherche ne soit pas trop éloignée du contenu */
}
.search-box {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   background-color: #f0f4f9;
   padding: 10px 20px;
   border-radius: 50px;
   margin-bottom: 200px;

}
.search-box img{
   width: 24px;
   cursor: pointer;
}
.search-box input{
   flex: 1;
   background: transparent;
   border: none;
   outline: none;
   padding: 8px;
   font-size: 18px;
}
.search-box div {
   display: flex;
   align-items: center;
   gap: 15px;
}